*.DS_Store
.vscode
*.a
*.o
*.la
*.lo
*.so
*/.libs
*/.deps
*Makefile
*Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
*/futurerestore*
stamp-h1
xcuserdata
.build_complete
